In [2]:
from datasets import load_dataset

import pandas as pd
import numpy as np

In [3]:
nsmc = load_dataset("Blpeng/nsmc")

df_nsmc = pd.concat([
    pd.DataFrame(nsmc["train"]),
    pd.DataFrame(nsmc["test"])
])

df_nsmc = df_nsmc.rename(columns={"document": "text", "label": "sentiment"})
df_nsmc = df_nsmc.drop(["Unnamed: 0", "id"], axis = 1)
df_nsmc["source"] = "nsmc"

df_nsmc.head()

Repo card metadata block was not found. Setting CardData to empty.

                                                text  sentiment source
0                                아 더빙.. 진짜 짜증나네요 목소리          0   nsmc
1                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나          1   nsmc
2                                  너무재밓었다그래서보는것을추천한다          0   nsmc
3                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정          0   nsmc
4  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...          1   nsmc

In [4]:
print(df_nsmc.shape) 
print(df_nsmc.columns)

(200000, 3)
Index(['text', 'sentiment', 'source'], dtype='object')

In [5]:
df_nsmc.dropna(inplace = True)
df_nsmc.shape

(199992, 3)

In [6]:
df_kor = pd.read_excel("한국어_연속적_대화_데이터셋.xlsx")
df_kor.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,행복,중립,슬픔,공포,혐오,분노,놀람
0,dialog #,발화,감정,NaN,NaN,1030.0,NaN,NaN,NaN,NaN,NaN,NaN
1,S,아 진짜! 사무실에서 피지 말라니깐! 간접흡연이 얼마나 안좋은데!,분노,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,그럼 직접흡연하는 난 얼마나 안좋겠니? 안그래? 보면 꼭... 지 생각만 하고.,혐오,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,손님 왔어요.,중립,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,손님? 누구?,중립,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_kor.drop(["Unnamed: 0", "Unnamed: 3", "Unnamed: 4", "행복", "중립", "슬픔", "공포", "혐오", "분노", "놀람"], 
            axis = 1,
            inplace = True
)
df_kor.drop(0, axis = 0, inplace = True)
df_kor.columns

Index(['Unnamed: 1', 'Unnamed: 2'], dtype='object')

In [8]:
df_kor.dropna(axis = 0, inplace = True)
df_kor.isnull().sum()

Unnamed: 1    0
Unnamed: 2    0
dtype: int64

In [9]:
df_kor.rename(columns = {"Unnamed: 1" : "text", "Unnamed: 2" : "sentiment"}, inplace = True)
df_kor["source"] = "aihub_data"
df_kor.head()

                                           text sentiment      source
1          아 진짜! 사무실에서 피지 말라니깐! 간접흡연이 얼마나 안좋은데!        분노  aihub_data
2  그럼 직접흡연하는 난 얼마나 안좋겠니? 안그래? 보면 꼭... 지 생각만 하고.        혐오  aihub_data
3                                       손님 왔어요.        중립  aihub_data
4                                       손님? 누구?        중립  aihub_data
5                                몰라요. 팀장님 친구래요.        중립  aihub_data

In [10]:
neutrality = df_kor[df_kor["sentiment"] == "중립"].index
df_kor.drop(index = neutrality, axis = 0, inplace = True)

print(df_kor.shape)
print(df_kor.head())

(11835, 3)
                                            text sentiment      source
1           아 진짜! 사무실에서 피지 말라니깐! 간접흡연이 얼마나 안좋은데!        분노  aihub_data
2   그럼 직접흡연하는 난 얼마나 안좋겠니? 안그래? 보면 꼭... 지 생각만 하고.        혐오  aihub_data
7                                 그걸 내가 어떻게 알아요!        분노  aihub_data
15                          동사무소에서 인구조사 나왔니? 지금.        분노  aihub_data
17                               나? ... 나보고 하라고?        놀람  aihub_data

In [11]:
df_kor["sentiment"].value_counts().index.tolist()

drop_list = ['ㅍ', '분', 'ㅈ중립', '분ㄴ', '중림', 'ㄴ중립', '줄']
df_kor = df_kor[~df_kor["sentiment"].isin(drop_list)]

value_series = df_kor["sentiment"].value_counts()
value_series

sentiment
놀람    4866
분노    3628
슬픔    1972
행복    1030
혐오     220
공포      98
Name: count, dtype: int64

In [12]:
negative_word_list = ["분노", "슬픔", "혐오", "공포"]

cnt = value_series[value_series.index.isin(negative_word_list)].sum()
cnt

np.int64(5918)

In [13]:
ratio = []
for word in negative_word_list:
    ratio.append(round((value_series[word] / cnt) * 1000))

df_n_list = []
for ratio, word in zip(ratio, negative_word_list):
    df_n_list.append(df_kor[df_kor["sentiment"] == word].sample(n = ratio, replace = False, random_state = 42))

df_n = pd.concat(df_n_list).reset_index(drop = True)
df_n["sentiment"].value_counts()

sentiment
분노    613
슬픔    333
혐오     37
공포     17
Name: count, dtype: int64

In [14]:
df_p = df_kor[df_kor["sentiment"] == "행복"].reset_index(drop = True)

In [15]:
df_aihub = pd.concat([df_p, df_n], axis=0).sample(frac=1, random_state=42).reset_index(drop=True)

In [16]:
df_aihub["sentiment"] = df_aihub["sentiment"].apply(lambda x: 1 if "행복" in x else 0)

In [17]:
df_huggingface = load_dataset("Dasool/KoMultiText")
df_huggingface

DatasetDict({
    train: Dataset({
        features: ['comment', 'preference', 'profanity', 'gender', 'politics', 'nation', 'race', 'region', 'generation', 'social_hierarchy', 'appearance', 'others'],
        num_rows: 38361
    })
    test: Dataset({
        features: ['comment', 'preference', 'profanity', 'gender', 'politics', 'nation', 'race', 'region', 'generation', 'social_hierarchy', 'appearance', 'others'],
        num_rows: 2000
    })
})

In [27]:
df_hug_dc = df_huggingface["train"].to_pandas()

In [33]:
df_hug_dc.columns

Index(['comment', 'preference', 'profanity', 'gender', 'politics', 'nation',
       'race', 'region', 'generation', 'social_hierarchy', 'appearance',
       'others'],
      dtype='object')

In [40]:
drop_index = df_hug_dc[df_hug_dc["preference"] == 2].index

df_hug_dc.drop(index = drop_index, axis = 0, inplace = True)

In [43]:
df_hug_dc["preference"].value_counts().sort_index()

preference
0     4306
1    11886
3     2186
4      683
Name: count, dtype: int64

In [46]:
# df_hug_dc[df_hug_dc["preference"] == 0].sample(10)
# 너무 빡센데 ㄷㄷ;